/* ****************************** Page content */

.article-content {
    margin-bottom: 5vh;
    border-radius: 4px;
    padding: 0 5vh;
}

.first-content {
    color: #ffffff;
}

.second-content {
}

.listing-projects img {
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .listing-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5vh;
    }
    .listing-projects a {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .listing-projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}