/* ****************************** Page head */

.branding-site {
    text-align: center;
    background-color: #9dfff0; background-image: url(../../../images/pinstripe-white.svg);
    background-attachment: fixed;
    padding: 5vh 0;
}

@media all and (min-width:1200px) {
  .branding-site {
      margin-bottom: 0;
  }
}

@media all and (max-width:1199px) {
  .branding-site {
      margin-bottom: 5vh;
  }
}

.branding-site img {
    display: block;
    margin: 5vh auto 0 auto;
    height: 20vh;
    width: auto;
    mix-blend-mode: multiply;
}
