/* ****************************** Page content */

.article-content {
    margin-bottom: 5vh;
    border-radius: 4px;
    padding: 0 5vh;
    background-image: url(../../../images/pinstripe-cyan.svg);
    background-attachment: fixed;
}

.first-content {
    padding: 5vh 5vh;
    background-color: #fff;
}

.second-content {
    padding: 5vh 5vh;
    background-color: #fff;
}


.field-body {
  color: #393939;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4rem;
  margin-bottom: 1.5vh;
  padding: 5vh 5vh;
  background-color: #fff;
}

.first-content .field-body > *,
.first-content .field-body li {
  margin-bottom: 2vh;
  mix-blend-mode: multiply;
}

.first-content .field-body li:last-child {
  margin-bottom: 0;
}

.listing-projects img {
    display: block;
    width: 100%;
    height: 100%;
}

.web-link {
  z-index: 10;
}

@media screen and (min-width: 768px) {
    .listing-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5vh;
    }
    .listing-projects a {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .listing-projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
